*.a
*.cma
*.cmi
*.cmo
*.cmx
*.cmxa
*.o
*.so
*_parser.output

/ConfMakefile
/_build/
/autom4te.cache/
/config.log
/config.status
/configure
/dist/
/doc/*.1
/doc/*.5
/libgettext-ocaml/META
/libgettext-ocaml/gettextConfig.ml
/libgettext-ocaml/gettextMo_parser.ml
/libgettext-ocaml/gettextPo_parser.mli
/libgettext-ocaml/gettextFormat_parser.mli
/libgettext-ocaml/gettextMo_parser.mli
/ocaml-gettext/ocaml-gettext
/ocaml-gettext/ocaml-xgettext
/po/*.mo
/po/fr.po.bak
/setup.data
/setup.log
/test.byte
/test/test
/test/tests/

