*.a
*.cma
*.cmi
*.cmo
*.cmx
*.cmxa
*.o
*.so
*_parser.output
/_build/
/setup.data
/setup.log
/dist/
/test.byte
/ConfMakefile
/configure
/libgettext-ocaml/META
/libgettext-ocaml/gettextConfig.ml
/libgettext-ocaml/gettextPo_parser.mli
/config.log
/config.status
/po/*.mo
/po/fr.po.bak
/doc/*.1
/doc/*.5
/ocaml-gettext/ocaml-gettext
/ocaml-gettext/ocaml-xgettext
