##########################################################################
#  ocaml-gettext : a library to translate messages                       #
#                                                                        #
#  Copyright (C) 2003-2007 Sylvain Le Gall <sylvain@le-gall.net>         #
#                                                                        #
#  This library is free software; you can redistribute it and/or         #
#  modify it under the terms of the GNU Lesser General Public            #
#  License as published by the Free Software Foundation; either          #
#  version 2.1 of the License, or (at your option) any later version;    #
#  with the OCaml static compilation exception.                          #
#                                                                        #
#  This library is distributed in the hope that it will be useful,       #
#  but WITHOUT ANY WARRANTY; without even the implied warranty of        #
#  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU     #
#  Lesser General Public License for more details.                       #
#                                                                        #
#  You should have received a copy of the GNU Lesser General Public      #
#  License along with this library; if not, write to the Free Software   #
#  Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA 02111-1307   #
#  USA                                                                   #
##########################################################################

| ".*README.*"           -> no
| ".*COPYING.*"          -> no
| ".*\.doap"             -> skip match:"<\?xml.*>"
| ".*\.doap"             -> lines open:"<!--" line:"=" close:"-->"
| ".*\.xml"              -> skip match:"<\?xml.*>"
| ".*\.xml"              -> lines open:"<!--" line:"=" close:"-->"
| ".*\.patch"            -> no
| "CHANGELOG"            -> no
| "THANKS"               -> no
| "TODO"                 -> no
| "install-sh"           -> no
| "missing"              -> no
| "configure"            -> no
| "INSTALL"              -> no
| "configure.in"         -> frame open:"dnl *" line:"*" close:"*"
| "aclocal.m4"           -> frame open:"#" line:"#" close:"#"
| ".*\\.ml\\.in"         -> frame open:"(*" line:"*" close:"*)" 
| ".*\\.ml"              -> skip match:"(\\*pp .* \\*)"
| "\\.headache\\.config" -> frame open:"#" line:"#" close:"#"
| ".*\\.swp"             -> no
| ".*\\.po"              -> no
| ".*\\.mo"              -> no
| "META"                 -> frame open:"#" line:"#" close:"#"
| "META.in"              -> frame open:"#" line:"#" close:"#"
| "\\.announce"          -> no
| "POTFILES"             -> no            
| "LINGUAS"              -> no            
| ".*\\.pot"             -> no            
| ".*\\.png"             -> no            
| "\\.header"            -> no            
